# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Logs
logs/*.log

# Models
models/

# Artifacts
artifacts/

# Test Cache
.pytest_cache/

# Ruff
.ruff_cache/

# Black
.black/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Windows
Thumbs.db